* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
html {
  font-size: 62.5%;
  /* Ré-équilibrage du Rem face au Pixel pour des calculs simples */
}
body {
  font-family: 'Raleway', sans-serif;
  height: 100vh;
}
header {
  display: inline-block;
  width: 20%;
  position: fixed;
  margin: 7px;
}
@media only screen and (min-device-width: 640px) and (max-device-width: 770px) {
  header {
    display: block;
    width: 90%;
    position: static;
    text-align: center;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
  header {
    display: block;
    width: 90%;
    position: static;
    text-align: center;
  }
}
header .title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.1px;
  font-size: 3.0rem;
}
header .sub_title {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 400;
  font-size: 1.9rem;
}
header .nav_bar {
  display: inline-block;
  margin-top: 50px;
}
header .nav_bar ul {
  padding: 0;
}
header .nav_bar ul li {
  list-style: none;
  text-transform: uppercase;
  font-size: 1.9rem;
  letter-spacing: 1.5px;
}
header .nav_bar ul li a {
  text-decoration: none;
  color: black;
}
header .nav_bar ul li a:hover {
  font-weight: bold;
}
header .nav_bar ul li:first-child {
  margin-bottom: 30px;
}
.bar_flags ul {
  padding: 0;
}
.bar_flags ul li {
  list-style: none;
  display: inline-block;
}
.bar_flags ul a {
  text-decoration: none;
}
.credits {
  font-size: 1.2rem;
}
@media only screen and (min-device-width: 640px) and (max-device-width: 770px) {
  .credits {
    display: none;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
  .credits {
    display: none;
  }
}
.bigGrid {
  width: 80%;
  position: absolute;
  top: 10px;
  left: 20%;
}
@media only screen and (min-device-width: 640px) and (max-device-width: 770px) {
  .bigGrid {
    position: static;
    width: 100%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
  .bigGrid {
    position: static;
    width: 100%;
  }
}
.grid-item,
.grid-sizer {
  width: 33%;
  padding: 7px;
}
@media only screen and (min-device-width: 640px) and (max-device-width: 770px) {
  .grid-item,
  .grid-sizer {
    width: 50%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
  .grid-item,
  .grid-sizer {
    width: 100%;
  }
}
.grid-item img,
.grid-sizer img {
  width: 100%;
  height: auto;
  border-image: 0;
  padding: 0;
  margin: 0;
  display: block;
}
#biofrafia {
  background-color: white;
  z-index: 1;
  width: 80%;
  display: none;
}
#biofrafia .img-header {
  width: 80%;
}
#biofrafia .img-header img {
  width: 80%;
}
#biofrafia .biofrafie-c {
  margin-top: 30px;
  font-size: 16px;
  max-width: 900px;
  column-count: 2;
  -webkit-column-gap: 40px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 40px;
  /* Firefox */
  column-gap: 70px;
  text-align: justify;
}
#biofrafia .biofrafie-c p {
  margin-bottom: 15px;
}
